body {
  left: 0;
  right: 0;
  margin: 0;
}

div.container {
  position: relative;
  margin: 0 auto;
  width: 800px;
  border: 1px solid black;
}

canvas.main {
  display: inline-block;
  margin: 0 auto;
}

input.start {
  display: block;
  position: absolute;
  height: 40px;
  width: 120px;
  top: 230px;
  left: 340px;
  border-radius: 20px;
  border: 4px solid #483D8B;
  text-transform: uppercase;
  background-color: #6495ed;
  font-weight: bold;
  color: white;
}
